* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #000;
    background: radial-gradient(circle, rgb(27, 27, 127) 0%, rgba(100, 190, 100) 100%);
}

.form-control {
    display: flex;
}

.form-control input {
    flex: 1;
    outline: 0;
    box-shadow: none;
    border: 1px solid #c4c4c4;
}

.form-control button {
    background-color: #425366;
    border: 0px;
}

.form-control button:hover {
    background-color: rgb(100, 255, 100);
}

.date-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 16px;
    color: navy;
}

button {
    background-color: #fff;
    color: black;
    padding: 0.2rem 0.4rem;
    font-size: .8rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: rgb(100, 255, 100);
    color: white;
}

button > i {
    font-weight: bold;
    pointer-events: none;
}

input {
    padding: .4rem .5rems;
}

.hide {
    display: none;
}

.todo-container {
    background-color: aliceblue;
    border-radius: 15px;
    width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;
}

.todo-container header {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid aliceblue;
}

header > h1 {
    padding-left: 16px;
    border-left: 5px solid purple;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #c4c4c4;
}

#todo-form > p, #edit-form > p {
    margin-bottom: .5rem;
    font-weight: bold;

}

.form-control > input {
    margin-right: .7rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3rem .2rem;
    border-bottom: 1px solid #c4c4c4;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .8rem;
}

.todo button {
    margin-left: .4rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: #fff;
}
.done {
    background-color: rgb(100, 255, 100);
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

.todo button:hover, .done button {
    background-color: rgb(100, 255, 100);
    color: white;
}

.done > button:hover {
    background-color: white;
    color: navy;
}

#todo-list {
    max-height: 220px;
    overflow: autos;
}